{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main>

    <main style="padding-top: 200px; padding-bottom: 200px;" id="main">
  

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>About Us</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <p>
                We are a transport system and ride hailing service.To the looking for rides,you will get something affordable,secure and reliable.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i>Trained Drivers</li>
                <li><i class="ri-check-double-line"></i>Fast Service</li>
                <li><i class="ri-check-double-line"></i>Secure and Affordable Rides</li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <p>
                Manage your own ride hailing service,contact us today.
              </p>
              <a href="#" class="btn-learn-more">Learn More</a>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  

    </main><!-- End #main -->
  
</main>


{% endblock content %}