
			<!--
            - DASHBOARD
          -->

          <div class="service">

            <h2 class="title">Navigation</h2>

            <div class="service-container">



              <a href="{% url 'change_password' %}" class="service-item">

                <div class="service-content">

                  <h3 class="service-title">Change App Password</h3>
                  {% comment %} <p class="service-desc" >Change Password</p> {% endcomment %}

                </div>

              </a>

              <a href="{% url 'logout' %}" class="service-item">

                <div class="service-content">

                  <h3 class="service-title">Logout</h3>
				  {% comment %} <p class="service-desc" >Logout</p> {% endcomment %}


                </div>

              </a>

            </div>

          </div>

