{% extends 'base.html' %}
{% block content %}
{% load static %}

<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">



        <ol>
          <li><a href="index.html">Home</a></li>
          <li>All Your Drivers</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section id="team" class="team section-bg">
    <div class="container">
      <div class="row">

        {% for vehicle in vehicles %}



        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <a href="{% url 'vehicle_detail' pk=vehicle.id %}">


            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">

                <img src="{% static 'dabec/img/ride.jpg'%}" class="img-fluid" alt="">

                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ vehicle.vehicle_name}}</h4>
                <span style="font-weight:bold;">Driver:{{ vehicle.driver.first_name}}</span>
              </div>
            </div>

          </a>

        </div>


        {% endfor %}

      </div>

    </div>
  </section><!-- End Hospitals Section -->



</main><!-- End #main -->


{% endblock content %}